  
	
	
		<div id="my_carousel" class="carousel slide" data-ride="carousel">
			<!-- Bulles -->
			<ol class="carousel-indicators">
				<li data-target="#my_carousel" data-slide-to="0" class="active"></li>
				<li data-target="#my_carousel" data-slide-to="1"></li>
				<li data-target="#my_carousel" data-slide-to="2"></li>
			</ol>
			<!-- Slides -->
			<div class="carousel-inner">
				
				<div class="item active">  
					<div class="carousel-page">
						<img src="https://images.radio-canada.ca/q_auto,w_1250/v1/ici-info/16x9/jeu-video-for-honor-ubisoft.jpg" class="img-responsive"/>
					</div> 
					<div class="carousel-caption">For Honor</div>
				</div>  
				
				<div class="item"> 
					<div class="carousel-page">
						<img src="https://images.radio-canada.ca/q_auto,w_1250/v1/ici-info/16x9/jeu-video-for-honor-ubisoft.jpg" class="img-responsive" />
					</div> 
					<div class="carousel-caption">For Honor</div>
				</div>  
				
				<div class="item">  
					<div class="carousel-page">
						<img src="https://images.radio-canada.ca/q_auto,w_1250/v1/ici-info/16x9/jeu-video-for-honor-ubisoft.jpg" class="img-responsive" />
					</div>  
					<div class="carousel-caption">For Honor</div>
				</div>     
			</div>
			
			<!-- Contrôles -->
			<a class="left carousel-control" href="#my_carousel" data-slide="prev">
				<span class="glyphicon glyphicon-chevron-left"></span>
			</a>
			<a class="right carousel-control" href="#my_carousel" data-slide="next">
				<span class="glyphicon glyphicon-chevron-right"></span>
			</a>
		</div>

        <section><!--Partie 1 de la page "populaire"-->
			<div class="row">
				<div class="col-xs-6">
					<h1>Populaire</h1>
				</div>
				
				<div class="col-xs-6">
					<div class="dropdown">
					  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
						Type de jeu
						<span class="caret"></span>
					  </button>
					  <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenu1">
						<li><a href="#">FPS</a></li>
						<li><a href="#">TPS</a></li>
						<li><a href="#">MMORPG</a></li>
						<li><a href="#">MOBA</a></li>
						<li><a href="#">BATTLE ROYAL</a></li>

					  </ul>
					</div>
				</div>
			</div>
				
			<div class="row">
				<a *ngFor="let jeu of jeux"  [routerLink]="['/detail', jeu.id]"  class="col-1-4">
		    		<div class="module jeu">
						<article class="col-md-6"><!--Image + texte-->
							<div class="row">
								<a class="index" href="#">
									<div class="col-sm-4">
										<img src="{{jeu.img}}" width="300">
									</div>
									<div class="text col-sm-8">
										<h2>{{jeu.name}}</h2>
										<p>{{jeu.description}} </p>
									</div>
								</a>
							</div>
						</article>				
		    		</div>
		  		</a>
			</div>
        </section>
		
		
        <section><!--Partie 1 de la page "populaire"-->
			<h1>Recommandé pour vous</h1>	
						<div class="row">
				<a *ngFor="let jeu of jeux"  [routerLink]="['/detail', jeu.id]"  class="col-1-4">
		    		<div class="module jeu">
						<article class="col-md-6"><!--Image + texte-->
							<div class="row">
								<a class="index" href="#">
									<div class="col-sm-4">
										<img src="{{jeu.img}}" width="300">
									</div>
									<div class="text col-sm-8">
										<h2>{{jeu.name}}</h2>
										<p>{{jeu.description}} </p>
									</div>
								</a>
							</div>
						</article>				
		    		</div>
		  		</a>
			</div>
        </section>
