	<section>
		<div class="row">
			<div class="col-sm-6 col-md-3">
				<h1>Liste Jeux</h1>
			</div>
		
		</div>
		<ul class="jeux">
			<div class="row">
				<li *ngFor="let jeu of jeux">
				<a  [routerLink]="['/detail', jeu.id]">
					<article  class="col-md-4">
						<h2>{{jeu.name}}</h2>
						<img src="{{jeu.img}}" alt="Tous les jeux">
						<!-- <button class="delete" (click)="delete(jeu); $event.stopPropagation()">x</button> --> 
					</article>
				</a>
				</li>
			</div>
		</ul>
		
	<!--	<div class="ajoutjeu">
			<input #jeuName class="form-control" type="text" placeholder="Nom du Jeu" />
			<button (click)="add(jeuName.value); jeuName.value=''">Ajouter</button>
		</div> --> <!-- Pas besoin -->
		
		<div *ngIf="selectedJeu">
			<h2>{{selectedJeu.name | uppercase}} est mon jeu</h2>
			<button (click)="gotoDetail()">Voir Détails</button>
		</div>
	</section>
